body {
    background-color: aqua;
}
.maincont{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.hh1
{
    display: flex;
    justify-content: center;
}

.p1{
    color: rgb(25, 0, 255);
    display: flex;
    justify-content: center;
}